.mySwiper {
    height: 100vh;
    /* border: 1px solid red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
}

.slide1 {
    background: url('../../assets/slide1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide2 {
    background: url('../../assets/slide2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.slide3 {
    background: url('../../assets/slide3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}