.mainSection {
    background-color: #222E50;
    height: 90vh;
}

.mainSlogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: #D6BA73;
    padding: 100px;
    animation: fadeIn2 1s linear;
}

.mainSloganText {
    font-family: 'Tilt Warp', cursive;
    font-size: 75px;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
    z-index: 0; 
}

.subSlogan {
    margin: 40px 0;
    /* position: absolute;
    left: 100; */
    font-family: 'Baloo Bhai 2', cursive;
    float: left;
    font-size: 35px;
}

.textWrap {
    width: 60%;
}

.text {
    font-family: 'Baloo Bhai 2', cursive;
    float: left;
    font-size: 20px;
    text-align: justify;
}

.SwiperRecip {
    height: 100vh;
    background-color: antiquewhite;
}

/* .gridSection {
    height: 100vh;
    background-color: #D6BA73;
} */

.publish {
    height: 90vh;
    background-color: #D6BA73;
} 

.formDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 88px;
    align-items: center;
    font-family: 'Tilt Warp', cursive;
}

.formContent {
    font-size: 58px;
}
.formContent2 {
    font-size: 30px;
    margin: 1rem;
}
.frm{
    font-family: 'Baloo Bhai 2', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.formLanding {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
label {
    font-size: 18px;
    font-weight: 600;
}
.formInp {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    background-color: transparent;
    width: 80vw;
    margin: 20px;
    border-bottom: 3px solid black;
    font-size: larger;
}
.submitButton {
    width: 7%;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: black;
    border-radius: 10px;
}
.formInp:focus {
    outline: none;
    border-bottom: 3px solid antiquewhite;
    transition: 0.5s;
}

/* responiveness */

@media (max-width: 2560px) {
    .mainSloganText {
        font-size: 11rem;
    }
    .subSlogan {
        font-size: 5rem;
    }
    .text {
        font-size: 2.2rem;
    }
    .formContent {
        font-size: 8rem;
    }
    .formContent2 {
        font-size: 3rem;
    }
    .formLanding {
        font-size: 1.6rem;
    }
    .formLanding label {
        font-size: 2.2rem;
    }
}
@media (max-width: 1942px){
    .mainSloganText {
        font-size: 8rem;
    }
    .subSlogan {
        font-size: 4rem;
    }
    .text {
        font-size: 2rem;
    }
    .formContent {
        font-size: 4rem;
    }
    .formContent2{
        font-size: 2rem;
    }
    .formLanding {
        font-size: 0.9rem;
    }
    .formLanding label {
        font-size: 1.2rem;
    }
}

@media (max-width: 1520px){
    .mainSection{
        height: 120vh;
    }
    .mainSloganText {
        font-size: 5.5rem;
    }
    .subSlogan {
        font-size: 2.5rem;
    }
    .text {
        font-size: 1.3rem;
    }
    .publish {
        height: 120vh;
    }
    .formContent {
        font-size: 4rem;
    }
    .formContent2{
        font-size: 2rem;
    }
    .formLanding {
        font-size: 0.9rem;
    }
    .formLanding label {
        font-size: 1.2rem;
    }
}


/* 
hr {
    position: absolute;
    z-index: 0;
} */

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
