.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 14px;
    background-color: whitesmoke;
    animation: fadeIN 1s linear;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 0px 10px -1px black;
}

/* hr {
    margin: 0 100px;
} */


.navbarItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border: 3.5px solid #222E50;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    padding: 20px;
    background-color: antiquewhite;
    box-shadow: 0px 0px 10px -1px black;
    
}

.items {
    display: flex;
    padding: 7px 35px;
    font-size: 19px;
    text-transform: uppercase;
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bold;
}

input {
    border-radius: 20px;
    padding: 10px;
}

a {
    color: #3E5622;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 10px;
}

a:hover{
    color: #fff;
    background-color: #d69653;
    /* animation: trans 0.5s linear; */
}

@media (min-width: 1900px){
    .items{
        font-size: 2rem;
    }
    .navimg{
        height: 150px;
        width: 150px;
    }
}

@media (min-width: 100px) and (max-width: 919px){
    .wrap{
        width: 80vh;
    }
    
}


@keyframes fadeIN {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}




